.app-contenedor {
  margin-top: 65px; /* Ajusta la distancia del buscador */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem;
}
.app-contenido {
  width: 100%;
  max-width: 900px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.ficha-pelicula{
  width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  max-width: 400px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.lista-peliculas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.titulo-peli-punto {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.bloque-lateral {
  position: fixed;
  top: 15%;
  right: 0;
  width: 400px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: filter 0.3s ease;
}
.bloque-lateral:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  box-shadow: 0 0 20px rgba(200, 180, 255, 0.3); /* refuerzo visual */
}
.bannerLateral {
  left: 0;
  font-size: calc(1rem + 0.5vw);
}
.estiloImagenBanner {
  max-width: 100%;
  height: 90%;
  object-fit: contain;
  border-radius: 9px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Espacio entre imagen y el fondo */
}

.texto-maratones {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}
.top-bar {
  position: fixed; /* Fija la barra en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  height:35px;
  padding: 1rem;
  background-color: #8C111B; /* Color oscuro para contraste */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacia elementos */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Sombra para efecto visual */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}
.contenedor-botones-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-right: 2rem;
}
.botones-genericos{
  padding: 10px;
  margin-right: 16px;
  background-color: #242424;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.botones-genericos:hover{
   transform: scale(1.05);
   box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
   background-color: #333;
}
.selector-buscadores {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #242424;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
}
.selector-buscadores:hover {
  background-color: #333;
}
